#container {
    width: 300px;
    margin: 0 auto;
}

.menu {
    margin-top: 20px;
    width: 300px;
    
}
#container h2{
    text-align: center;
    color:#696969;
}



option {
    width: 173px;
    height: 35px;
    
}

.menu select{
    height: 35px;
    width: 300px;
    font-size: 20px;
    

}

.menu input{
    height: 35px;
    width: 300px;
    font-size: 20px;
    

}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px
}
.buttons a{
    text-decoration: none;
    font-size: 20px;
    line-height: 35px;
    background: #A9A9A9;
    color: white;
    font-weight: 700;
    padding: 5px 10px;
    width: 120px;
    text-align: center;
}
.buttons a:hover {
    background: #696969
}